.call-us {
	padding: 20px 40px;
	
	@media print {
		display: none;
	}
	
	@media screen and ( max-width: $grid-base-width + px ) {
		padding: 20px 0 20px 30px;
	}
	
	@media screen and ( min-width: $smartphone_landscape_small + 1 + px ) and ( max-width: $tablet_portrait + px ) {
		//clear: none;
		//float: left;
		//width: 49%;
	}

	h4 {
		margin-bottom: 15px;
		font-size: em(19);
	}
	
	h5 {
		font-size: em(14);
		color: $gray;
	}
}