.thematic-tours {
	height: 245px;
	
	@media screen and ( min-width: $tablet_portrait + px ) {
		float: right;
		width: grid(765, $grid-base-width-home);
	}
	
	@media screen and ( max-width: $tablet_portrait - 1 + px ) {
		@include clear;
	}
	
	@media screen and ( max-width: $smartphone_landscape + px ) {
		height: auto;
	}	

	figure {
		float: left;
		position: relative;
		width: grid(375, 765);
		
		@media screen and ( max-width: $smartphone_landscape + px ) {
			float: none;
			width: 100%;
		}
	}
	
	img {
		width: 100%;

		@media screen and ( min-width: $smartphone_landscape + 1 + px ) {
			display: none;
		}
	}
	
	.caption {
		width: 100%;
		padding: 10px;

		> span {
			display: block;
			background-color: rgba( $brown, .8 );
			padding: 5px 10px;
			
			.date {	
				@media screen and ( min-width: $tablet_landscape + px ) {
					float: left;
				}
			}
			
			.lead {
				display: block;
				font-size: em(18);

				@media screen and ( min-width: $tablet_landscape + px ) {
					float: right;
					width: grid(200, 375);
				}			
			}
		}
	}
	
	.image {
		@include background-size(cover);
		float: right;
		width: 100%;
		height: 245px;
		
		@media screen and ( max-width: $smartphone_landscape + px ) {
			display: none;
		}
	}
	
	.title {
		@include hover;
		float: left;
		width: grid(390, 765);
		height: 245px;
		padding: 60px 30px 30px 30px;
		background-color: $yellow;
		
		@media screen and ( max-width: $tablet_landscape - 1 + px ) {
			padding-top: 30px;
		}
		
		@media screen and ( max-width: $smartphone_landscape + px ) {
			float: none;
			width: 100%;
			height: auto;
		}
	}
	
	h4 {
		text-transform: uppercase;
		margin-bottom: 20px;
		font: {
			family: $dosis;
			weight: $bold;
			size: em(30);
		}
	}
	
	&:hover {
		.title {
			background-color: $brown;
			color: $yellow;
		}
	}
}

