.icon-avatar-share:before {
    content: "\e900";
}
.icon-hamburger:before {
    content: "\e800";
}
.icon-tick:before {
    content: "\e61a";
}
.icon-tick-handy:before {
    content: "\e612";
}
.icon-x:before {
    content: "\e613";
}
.icon-question-form:before {
    content: "\e614";
}
.icon-book:before {
    content: "\e615";
}
.icon-group:before {
    content: "\e616";
}
.icon-gallery:before {
    content: "\e617";
}
.icon-avatar:before {
    content: "\e618";
}
.icon-printer:before {
    content: "\e619";
}
.icon-close:before {
    content: "\e61b";
}
.icon-maps:before {
    content: "\e610";
}
.icon-photos:before {
    content: "\e611";
}
.icon-lens:before {
    content: "\e60c";
}
.icon-mail:before {
    content: "\e609";
}
.icon-phone:before {
    content: "\e60a";
}
.icon-calendar:before {
    content: "\e60b";
}
.icon-credit-card:before {
    content: "\e60e";
}
.icon-chevron-up:before {
    content: "\e60d";
}
.icon-chevron-down:before {
    content: "\e600";
}
.icon-chevron-left:before {
    content: "\e601";
}
.icon-chevron-right:before {
    content: "\e602";
}
.icon-map-marker:before {
    content: "\e603";
}
.icon-facebook-with-circle:before {
    content: "\e604";
}
.icon-checkmark:before {
    content: "\e60f";
}
.icon-youtube:before {
    content: "\e605";
}
.icon-pinterest:before {
    content: "\e606";
}
.icon-google-plus:before {
    content: "\e607";
}
.icon-clock:before {
    content: "\e608";
}

