body {
	@include antialias;
	line-height: 1.4;
	font: {
		family: $text;
		size: #{$base-font-size}px;
		weight: $regular;
	}
	color: black;
}

a { 
	//@include hover;
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

blockquote {
	position: relative;
	text-align: center;
	color: $red;
	
	p {
		@include antialias;
		margin: 0;
		font: {
			family: $dosis;
			size: em(15);
			weight: $bold;
		}
	}
	
	&:before,
	&:after {
		position: absolute;
		left: 50%;
		height: 1px;
		background-color: $red;
		content: ' ';
	}
	
	&:before {
		top: 0;
	}
	
	&:after {
		bottom: 0;
	}
}

strong {
	font-weight: $bold;
}

#{headings()} {
	@include antialias;
	text-transform: uppercase;
	font: {
		family: $dosis;
		weight: $bold;
	}
	line-height: 1.1;
}

h1.main,
h2.main {
	margin-bottom: 20px;
	font-size: em(40);
	text-transform: none;
	line-height: 1;
	
	@media screen and ( max-width: $grid-base-width + px ) {
		padding-left: 25px;
	}
	
	@media screen and ( max-width: $smartphone_landscape_small + px ) {
		padding-left: 10px;
		font-size: em(34);
	}
}

h2.main {
	font-size: em(30);
	
	@media screen and ( max-width: $smartphone_landscape_small + px ) {
		font-size: em(24);
	}
}


.laquo,
.raquo {
	&:before,
	&:after {
		vertical-align: top;
		font-family: $lato;
		color: $red;
	}
}

.laquo {
	&:before {
		content: '« ';
	}
}

.raquo {
	&:after {
		content: ' »';
	}
}

.regular {

	@media screen and ( max-width: $grid-base-width + px ) {
		padding-left: 25px;
	}
	
	@media screen and ( max-width: $tablet_portrait + px ) {
		padding: 0 25px;
	}

	#{headings()} {
		text-transform: none;
		line-height: 1.4;
	}
	
	a {
		color: $red;
		
		&:hover {
			text-decoration: underline;
		}
	}
	
	img {
		margin-bottom: 20px;
		
		&.push-left {
			margin-right: 40px;
		}
		
		&.push-right {
			margin-left: 40px;
		}
		
		&.no-margin {
			margin: 0;
		}
	}
	
	p, h5 {
		@include clear;
		margin-bottom: 30px;
		font-size: em(17);
	}
	
	blockquote {
		margin-bottom: 35px;
		padding: 20px 80px 30px 80px;
		
		@media screen and ( max-width: $smartphone_landscape + px ) {
			padding: 20px 20px 30px 20px;
		}
		
				
		p {
			@include antialias;
			margin: 0;
			line-height: 1.1;
			font: {
				size: em(36);
				weight: $light;
			}
			
			@media screen and ( max-width: $smartphone_landscape + px ) {
				font-size: em(24);
			}
		}
		
		&:before,
		&:after {
			margin-left: -225px;
			width: 450px;
			
			@media screen and ( max-width: $smartphone_landscape + px ) {
				margin-left: -50%;
				width: 100%;
			}
		}
	}

	h3 {
		margin-bottom: 20px;
		font-size: em(30);
	}
	
	h4 {
		margin-bottom: 20px;
		font-family: $lato;
		font-size: em(20);
	}
	
	counter-reset: h5;

		
	h5 {
		position: relative;
		padding-left: 20px;
		text-transform: none;
		font-family: $lato;

		&:before {
			position: absolute; left: 0; top: 0;
			width: 15px;
			text-align: right;
			counter-increment: h5;
			content: counters(h5, ".") ". "; 
			font-weight: $bold;
		}
	}

	> ul {
		margin: 0 0 30px 40px;
		
		li {
			font-size: em(17);
			
			&:before {
				@include icomoon;
				margin-right: 10px;
				font-size: 11px;
				content: "\e612";
				color: $red;
			}
		}
	}
}



