// Fonts

$icons:					'Icomoon';
$lato:					'Lato';
$dosis:					'Dosis';


// Typography

$bold:					700;
$regular:				400;
$light:					300;


// Colors

$blue-dodger:			#42aafb;
$blue-rock:				#9db2d2;
$blue-smalt:			#00329b;

$brown:					#3d1b0f;
$brown-lonestar:		#6c0102;
$brown-mahogany:		#4c0606;

$gray:					#838383;
$gray-alabaster:		#f9f9f9;
$gray-alto:				#dbdbdb;
$gray-athens:			#f7f7f8;
$gray-concrete:			#f3f3f3;
$gray-dove:				#6f6f6f;
$gray-dove2:			#656565;
$gray-dusty:			#9b9b9b;
$gray-gallery:			#ededed;
$gray-gallery2:			#efefef;
$gray-gray:				#7f7f7f;
$gray-iron:				#dcdcdd;
$gray-shaft:			#3b3b3b;
$gray-shaft2:			#333;

$green:					#0ecb47;

$red:					#942526;
$red-peep:				#faeaea;
$red-persian:			#cd3032;
$red-stiletto:			#9c3435;

$yellow:				#f1af00;

$blog-color-1:			#15c9f4;
$blog-color-2:			#ea3a36;
$blog-color-3:			#ffd153;
$blog-color-4:			#8bce77;
$blog-color-5:			#a769ab;



// Default

$base-font-size:		15;
$text:					$lato;
$grid-base-width:		1140;
$grid-base-width-home:	1170;


// Break points

$tablet_landscape:		1024;
$tablet_portrait:		768;
$smartphone_landscape:	640;
$smartphone_landscape_small:	480;
$smartphone_portrait:	320;